button{
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}
button:hover{
    background-color: black;
    cursor: pointer;
}
button:active{
    background-color: rgba(255, 0, 0, 0.623);
    cursor: pointer;
}